.hero-banner {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-65%, -50%);
        text-align: center;

        .cta-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #ff6600;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            font-size: 1.2rem;
            transition: background-color 0.3s ease;
    
            &:hover {
                background-color: darken(#ff6600, 20%);
            }
        }
    }
}