$button-color: #007bff;
$list-item-bg: #f0f0f0;
$button-text-color: #ccc;
$navbar-bg-color: #F280EB;
$login-button-color: #F20544;
$signup-button-color: #011F26;
$primary-color: #4CAF50;
$secondary-color: #FFC107;
$accent-color: #FF5722;
$title-font: "Roboto", sans-serif;
$text-font: "Lora", serif;