@import "../../styles/colors.scss";

.typography {
    &.hero-title {
        font-size: 48px;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 0 10px #000;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    &.hero-subtitle {
        font-size: 24px;
        font-style: italic;
        color: #ccc;
        text-align: center;
        margin-bottom: 15px;
    }

    &.services-title {
        font-size: 64px;
        font-weight: bold;
        color: #fff;
        background: linear-gradient(to right, #cc4f00, #bb0066);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        margin-bottom: 20px;
    }

    &.services-subtitle {
        font-size: 32px;
        font-style: italic;
        color: #333;
        border-bottom: 4px solid #ff6a00;
        padding-bottom: 10px;
    }

    &.services-paragraph {
        font-size: 18px;
        color: #555;
        line-height: 1.5;
        max-width: 600px;
        margin-bottom: 20px;
        text-align: center;
    }

    &.contact-title {
        font-size: 48px;
        font-weight: bold;
        color: #0000ff;
        text-shadow: 0 0 10px #000;
    }

    &.contact-paragraph {
        font-size: 18px;
        color: #0000ff;
        line-height: 1.5;
        text-align: center;
    }

    &.about-title {
        font-family: $title-font;
        font-size: 3rem;
        font-weight: bold;
        color: $primary-color;
        text-align: center;
        text-shadow: 2px 2px $accent-color;

        &:hover {
            transform: scale(1.1);
            transition: all 0.3s ease-in-out;
        }
    }

    &.about-paragraph {
        font-family: $text-font;
        font-size: 1.5rem;
        color: $secondary-color;
        line-height: 1.8;
        margin: 1rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

        &:hover {
            transform: scale(1.1);
            transition: all 0.3s ease-in-out;
        }
    }

    &.LS-title {
        text-align: center;
        font-size: 2.5rem;
        color: #333;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 20px;
        background-image: linear-gradient(to right, $secondary-color, $primary-color);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        animation: neonGlow 1s ease infinite alternate;

        @keyframes neonGlow {
            0% {
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }

            100% {
                text-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
            }
        }
    }

    &.error-message {
        font-size: 1.2rem;
        color: #FF6347;
        background-color: #FFF0F0;
        padding: 2px;
        margin: 5px;
        border: 2px solid #FF6347;
        border-radius: 5px;
        text-align: center;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: "Error:";
            font-weight: bold;
            margin-right: 5px;
        }

        &::after {
            content: "❌";
            font-size: 1.4rem;
            margin-left: 5px;
        }
    }

    &.trial-title {
        font-size: 3rem;
        font-weight: bold;
        color: transparent;
        background: linear-gradient(to right, #ff416c, #ff4b2b);
        -webkit-background-clip: text;
        background-clip: text;
        text-shadow: 0.03rem 0.03rem 0 rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: translateY(-0.1rem);
            text-shadow: -0.03rem -0.03rem 0 rgba(0, 0, 0, 0.15);
        }
    }

    &.trial-subtitle {
        font-size: 1.5rem;
        font-weight: normal;
        color: #333;
    }
}