.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background: linear-gradient(to right, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);

    .title {
        margin-bottom: 10px;
    }

    .paragraph {
        text-align: center;
    }

    .br {
        display: none;
    }

    @media (min-width: 768px) {
        br {
            display: initial;
        }
    }
}