.navigation-bar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;

    .navigation-bar__list {
        list-style-type: none;
        display: flex;
        align-items: center;
    }

    .navigation-bar__list-item {
        padding: 0 20px;
    }

    a {
        text-decoration: none;
        color: #fff;
        transition: color 0.3s ease;

        &:hover {
            color: #ff6600;
        }
    }
}